.briefcase{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.title_briefcase{
    font-size: 30px;
    color: var(--text1);
}

.title_briefcase span{
    color: var(--yellow);
}

.carousel{
    display: flex;
    align-items: center;
    gap: .7rem;
}

.slider{
    width: 100%;
    max-width: 700px;
    overflow: hidden;
    position: relative;
}

.slider_movement{
    display: flex;
    align-items: center;
    width: 700%;
    transition: transform 300ms ease;
}

.slider_imgContainer{
    width: 100%;
    position: relative;
}

.slider_img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}


.image_hover{
    position: absolute;
    border-radius: 5px;
    background: linear-gradient(90deg, rgba(7, 37, 136, 0.945) 0%, rgba(0, 131, 212, 0.932) 100%);
    overflow: hidden;
    color: white;
    padding: 1rem;
    width: 100%;
    height: 99%;
    top: 0;
    left: 0;

    transform: translateX(2500px);
    transition: transform 700ms ease;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.hover-visible{
    transform: translateX(0);
}

.name_app{
    color: var(--yellow);
    font-size: 13px;
    text-align: center;
}

.app_description{
    text-align: center;
    font-size: 13px;

}

.link{
    color: var(--yellow);
    font-weight: 600;
    font-size: 12px;

}

.slider_btn{
    font-size: 25px;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, rgba(7, 38, 136, 1) 0%, rgba(0, 129, 212, 1) 100%);
    color: white;
    cursor: pointer;
    transition: transform .5s ease;
}

.slider_btn:hover{
    color: var(--yellow);
    transform: scale(1.1);
}

.slider_btn-right{
    right: 0;
}

.slider_btn-left{
    left: 0;
}

@media (max-width: 375px) {
    .image_hover{
        gap: .2rem;
    }

    .name_app{
        font-size: 9px;
    }
    
    .app_description{
        font-size: 10px;
    }
    
    .link{
        font-size: 9px;
    }
}

@media (min-width: 768px) {
    .image_hover{
        padding: 4rem;
    }

    .name_app{
        font-size: 32px;
    }
    
    .app_description{
        font-size: 25px;
    }
    
    .link{
        font-size: 25px;
    }
}
