.loadingPage{
    background-color: var(--body);
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.textLoading{
    font-size: 45px;
    display: block;
    white-space: nowrap;
    border-right: 2px solid;
    width: 12ch;
    color: var(--text1);
    animation: typing 3s steps(14), blink .5s infinite step-end alternate;
    overflow: hidden;
}

@keyframes typing {
    from {
        width: 0
    }
}


@keyframes blink {
    50% {
        border-color: transparent
    }
    
}


